.list-product-collection .router-title-detail-collection {
    @apply container mx-auto flex items-center gap-2 mt-2
}

.list-product-collection .router-title-detail-collection span {
    @apply text-sm md:text-base font-semibold
}

.list-product-collection .router-title-detail-collection a {
    @apply text-sm md:text-base font-normal text-gray-600
}

.list-product-collection .option-container .icon-option-collection {
    @apply bg-pink-200 rounded-full w-[3rem] h-[3rem] flex items-center justify-center cursor-pointer
}

.delete-collection-modal {
    @apply flex justify-center flex-col
}

.delete-collection-modal .icon-option-collection {
    @apply bg-pink-100 rounded-full w-[4rem] h-[4rem] flex items-center justify-center cursor-pointer
}

.list-product-collection .list-status-container{
    @apply container mx-auto flex items-center gap-1 lg:gap-2
}

.list-product-collection .list-status-container .text-status {
    @apply text-xxs md:text-sm lg:text-base whitespace-nowrap font-semibold p-2 border-gray-600 border-r
}

.list-product-collection .list-status-container .list-status {
    @apply flex items-center overflow-x-auto
}

.list-product-collection .list-status-container .list-status .item-status {
    @apply text-xxs md:text-sm lg:text-base whitespace-nowrap
}

/* custom thumb */
.list-product-collection .list-status-container .list-status::-webkit-scrollbar {
    width: 0px;
}

.list-product-collection .list-status-container .list-status::-webkit-scrollbar-track {
    display: none;
}

.list-product-collection .list-status-container .list-status::-webkit-scrollbar-thumb {
    display: none;
}

.list-product-collection .list-status-container .list-status::-webkit-scrollbar-thumb:hover {
    display: none;
}